/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$beige-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$brown-color};
  --global-text-color-light: #{$brown-color-light};
  --global-theme-color: #{$brown-color-medium};
  --global-hover-color: #{$brown-color-dark};
  --global-hover-text-color: #{$beige-color};
  --global-footer-bg-color: #{$beige-color-dark};
  --global-footer-text-color: #{$brown-color};
  --global-footer-link-color: #{$brown-color-dark};
  --global-distill-app-color: #{$brown-color-medium};
  --global-divider-color: #{rgba($brown-color, 0.1)};
  --global-card-bg-color: #{$beige-color-light};

  --global-tip-block: #{$brown-color-medium};
  --global-tip-block-bg: #{$beige-color-dark};
  --global-tip-block-text: #{$brown-color};
  --global-tip-block-title: #{$brown-color-dark};
  --global-warning-block: #{$orange-color};
  --global-warning-block-bg: #{lighten($orange-color, 40%)};
  --global-warning-block-text: #{darken($orange-color, 20%)};
  --global-warning-block-title: #{darken($orange-color, 10%)};
  --global-danger-block: #{$red-color};
  --global-danger-block-bg: #{lighten($red-color, 45%)};
  --global-danger-block-text: #{darken($red-color, 20%)};
  --global-danger-block-title: #{$red-color-dark};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$dark-bg-color};
  --global-code-bg-color: #{lighten($dark-bg-color, 10%)};
  --global-text-color: #{$dark-text-color};
  --global-text-color-light: #{lighten($dark-text-color, 15%)};
  --global-theme-color: #{lighten($dark-text-color, 5%)};
  --global-hover-color: #{darken($dark-theme-color, 10%)};
  --global-hover-text-color: #{$dark-bg-color};
  --global-footer-bg-color: #{darken($dark-theme-color, 10%)};
  --global-footer-text-color: #{$dark-text-color};
  --global-footer-link-color: #{darken($dark-text-color, 10%)};
  --global-distill-app-color: #{lighten($dark-theme-color, 5%)};
  --global-divider-color: #{rgba($dark-text-color, 0.2)};
  --global-card-bg-color: #{lighten($dark-bg-color, 5%)};

  --global-tip-block: #{lighten($brown-color-medium, 20%)};
  --global-tip-block-bg: #{$brown-color-light};
  --global-tip-block-text: #{$beige-color};
  --global-tip-block-title: #{$beige-color-dark};
  --global-warning-block: #{lighten($orange-color, 10%)};
  --global-warning-block-bg: #{$brown-color-dark};
  --global-warning-block-text: #{lighten($orange-color, 40%)};
  --global-warning-block-title: #{lighten($orange-color, 20%)};
  --global-danger-block: #{lighten($red-color, 10%)};
  --global-danger-block-bg: #{$brown-color-dark};
  --global-danger-block-text: #{lighten($red-color, 40%)};
  --global-danger-block-title: #{lighten($red-color, 20%)};

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
