---
layout: page
---
<div class="post">
  <article>
   {% include people_grid.liquid
      advisor=site.data.people.advisor
      students=site.data.people.students
      alumni=site.data.people.alumni
  %}
  </article>
</div>
